<section class="p-4">

  <div class="grid md:grid-cols-2 gap-4">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 place-content-center">
      <app-mockup-template variant="t-shirt" cardTitle="Front" />
      <app-mockup-template variant="t-shirt" cardTitle="Back" />
      <app-mockup-template variant="short-sleeve" cardTitle="Right Sleeve" />
      <app-mockup-template variant="short-sleeve" cardTitle="Left sleeve" />
      <app-mockup-template variant="long-sleeve" cardTitle="Left sleeve" />
    </div>

    <app-mockup-view />

  </div>

</section>
